{% load static %}

    <footer class="site-footer">
        <div class="container">
            <!-- Row 1: Logo | Nav links | Badges -->
            <div class="footer-row1">
                <div class="footer-logo">
                    <img src="{% static 'website/images/bl-logo.png' %}" alt="Bluedot Logo" class="footer-logo-img">
                </div>
                <ul class="footer-links-sub footer-nav-center en-content">
                    <li><a href="{% url 'website:about' %}">About Us</a></li>
                    <li><a href="{% url 'website:fleet_select' %}">Fleet</a></li>
                    <li><a href="{% url 'website:blogs' %}">News &amp; Insights</a></li>
                    <li><a href="{% url 'website:careers' %}">Careers</a></li>
                    <li><a href="{% url 'website:contactus' %}">Contact</a></li>
                </ul>

                <ul class="footer-links-sub footer-nav-center ar-content">
                    <li><a href="{% url 'website:about' %}">من نحن</a></li>
                    <li><a href="{% url 'website:fleet_select' %}">الأسطول</a></li>
                    <li><a href="{% url 'website:blogs' %}">الأخبار و الرؤى</a></li>
                    <li><a href="{% url 'website:careers' %}">الوظائف</a></li>
                    <li><a href="{% url 'website:contactus' %}">اتصل بنا</a></li>
                </ul>
                <div class="footer-badges">
                    <!-- <img src="{% static 'website/images/certificate.png' %}" alt="EURAMI Accredited Provider" class="footer-badge-img"> -->

                    <div class="footer-flex">
                        <img src="{% static 'website/images/ft.png' %}" alt="ITIJ Awards 2025 Winner" class="footer-award-img">
                        <div class="footer-socials">
                            <a href="https://web.facebook.com/bluedotairambulance/?locale=id_ID&_rdc=1&_rdr"
                                class="footer-social-btn" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/bluedotairambulance/" class="footer-social-btn"
                                aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/bluedotairambulance/posts/?feedView=all&viewAsMember=true"
                                class="footer-social-btn" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>




                </div>
            </div>

            <!-- Row 2: Services | Social icons -->
            <div class="footer-row2">
                <div class="footer-col-left en-content">
                    <span class="footer-title">Services</span>
                    <ul class="footer-links-main">
                        <li><a href="{% url 'website:service_air_ambulance' %}">Air Ambulance</a></li>
                        <li><a href="{% url 'website:service_commercial' %}">Commercial Airline Transfer</a></li>
                        <li><a href="{% url 'website:service_medical_escort' %}">Medical Escorts</a></li>
                        <li><a href="#">HEMS</a></li>
                    </ul>
                </div>


                <div class="footer-col-left  ar-content">
                    <span class="footer-title">خدماتنا</span>
                    <ul class="footer-links-main">
                        <li><a href="{% url 'website:service_air_ambulance' %}">الإسعاف الجوي</a></li>
                        <li><a href="{% url 'website:service_commercial' %}">نقل المرضى عبر الطيران التجاري</a></li>
                        <li><a href="{% url 'website:service_medical_escort' %}">المرافقة الطبية</a></li>
                        <li><a href="{% url 'website:service_helicopter' %}">الإسعاف الجوي بالمروحيات</a></li>
                    </ul>
                </div>



            </div>

            <!-- Row 3: Copyright | Privacy -->
           <div class="footer-bottom ">
                <p class="copyright en-content">2026 &copy; Bluedot Air Ambulance</p>
                <p class="copyright ar-content">٢٠٢٦ &copy; بلو دوت للإسعاف الجوي
                </p>
                <div class="footer-bottom-links ">
                    <a href="{% url 'website:privacy_policy' %}" class="en-content">Privacy Policy</a>
                    <a href="{% url 'website:terms_conditions' %}" class="en-content">Terms and Conditions</a>

                    <a href="{% url 'website:privacy_policy' %}" class="ar-content">سياسة الخصوصية</a>
                    <a href="{% url 'website:terms_conditions' %}" class="ar-content">شروط وأحكام</a>
                </div>
            </div>

        </div>
    </footer>