{% extends 'website/layout/base.html' %}
{% load static %}
{% block title %}Terms & Conditions for Booking Air Ambulance | Bluedot{% endblock %}
{% block meta_description %}Terms and conditions to know when booking an air ambulance service with Bluedot.{% endblock %}
{% block content %}

<!-- ========== HERO SECTION START ========== -->
    <section class="terms-hero">


        <div class="container">
<div class="hero-breadcrumb">
    <span class="en-content">
        <a href="{% url 'website:home' %}">Home</a>
        <span class="separator">/</span>
        <a href="#">Legal</a>
        <span class="separator">/</span>
        <span class="active">Terms & Conditions</span>
    </span>
    <span class="ar-content">
        <a href="{% url 'website:home' %}">الرئيسية</a>
        <span class="separator">/</span>
        <a href="#">قانوني</a>
        <span class="separator">/</span>
        <span class="active">الشروط والأحكام</span>
    </span>
</div>


            <h1 class="terms-title">
                <span class="en-content">Terms & Conditions for <br> Booking Air Ambulance</span>
                <span class="ar-content">الوظائف في بلودوت</span>
            </h1>

        </div>
    </section>
    <!-- ========== HERO SECTION END ========== -->



    <!-- ========== CONTENT SECTION START ========== -->
    <section class="roles-content-section">
        <div class="container">
            <div class="terms-white-card">

                <h2 class="join-us-title en-content">Control Centre Executive</h2>
                <div class="terms-content">
                    <p>By accepting the quotation and by making the payment the client confirms that subject always to
                        the
                        ability of Bluedot Air Ambulance (BLUEDOT) to confirm the medevac flight(s) as or with the
                        operator
                        upon the terms set out below and General Terms of Carriage for Ambulance Flights</p>

                    <p>BLUEDOT will book, on the client’s behalf, (or on behalf of the company or corporation for which
                        the client is acting) as the client’s agent, the following flight(s) (the “Flight(s)” confirmed
                        in Quotation.</p>

                    <p class="mb-0">Seating: 1 patient + 2 Medical Escorts + No Co Passengers mentioned in the
                        quotation. In the
                        event that any extra passengers travel, the client acknowledges that this may involve additional
                        fuel stops and/or alternate airports and/or additional passenger taxes and that client shall
                        bear any additional costs incurred thereby. Also, if there is any requirement to divert to an
                        alternate airport due to a medical emergency, on the advice of the head doctor and crew of the
                        aircraft, additional costs may be incurred, and the client shall bear these additional costs
                        post-flight.</p>
                    <p class="mb-0">roposed Schedule: Schedule subject to Slots, Parking, Weather, Traffic Rights,
                        Over-flight
                        clearances, and any other permits or authorizations, necessary for the performance of the
                        flight(s) and final assessment and approval from the Operator’s medical director. </p>
                    <p class="mb-0">Catering: VIP catering suitable for the length of flight and time of day</p>
                    <p class="mb-0">Crew Details: 2 Pilots + 1 Flight Physician + 1 Flight Nurse</p>
                    <p>Handling Agents: To Be Advised on Charter itinerary</p>

                    <p>Charter Price Does not include</p>
                    <ul>
                        <li>Any changes of confirmed Itinerary</li>
                        <li>Aircraft De-icing</li>
                        <li>Use of Internet, Wi-Fi or Inflight satellite telephone</li>
                        <li>Additional wait timings</li>
                        <li>Ground Ambulance Charges in both ports</li>
                    </ul>

                    <p>In the event any of the above applies, charges will be passed on at cost (with supporting
                        documentation) post-flight, and the Client shall pay the same within 7 days of receipt of your
                        invoice in respect thereof.</p>

                    <p>The carriage of lithium-ion/metal batteries is not permitted in either hand baggage or baggage
                        stowed in the hold, and we know that this shall include hoverboards, (sometimes known as solo
                        wheels or air wheels) and the Galaxy Note 7 mobile telephones or any other mobile phones or
                        electronic devices which are the subject to product recalls or known faults. The carriage of
                        such items is prohibited in both hand baggage and checked baggage. We shall ensure that all
                        passengers are made aware of this prohibition.</p>

                    <p> In the event a claim for damage or a loss occurs as a result of lithium-ion/metal batteries
                        contained in hand baggage, checked baggage, or otherwise by us or and/or our passengers, the
                        Client will defend and indemnify BLUEDOT from any claims whatsoever arising from such damage or
                        loss including the payment of all costs and reasonable attorneys’ fees.  BLUEDOT’s right to a
                        defense is separate and apart from its right to indemnity.</p>

                    <h3 class="pb-3">Cancellation Charges</h3>

                    <p class="mb-0">In addition, the Client accepts that the following cancellation terms (or those of
                        the operator,
                        whichever are the higher) will apply and which we shall pay to BLUEDOT upon demand:</p>

                    <p class="mb-0">100% Of the total charter price if canceled within 12 hours of a flight schedule</p>
                    <p class="mb-0">60% of the total charter price if canceled before 12 hours of a flight schedule </p>
                    <p>The patient transport by air ambulance and his treatment and/or wellbeing onboard is the sole
                        responsibility of the treating doctor onboard our aircraft. It is there for a doctor’s
                        individual decision to allow or decline accompanying family members. </p>


                    <p>As a standard guideline, a maximum of one family member is allowed for critical care patient
                        transportation. For stable, non-critical patients up to three family members might be allowed to
                        accompany the patient depending on the final decision of the flight Doctor.</p>

                    <p>The client represents and warrant that any passenger to be carried on the aircraft shall be fit
                        to fly and in good health and Client confirm that no passenger shall require any medical
                        equipment or treatment during the flight and that the Client shall indemnify you and hold you
                        harmless against any claims or costs in the event that any of the passengers are not in good
                        health, are not fit to fly, or any medical equipment is required, or in the event that the
                        aircraft has to be diverted if any of the passengers are ill or become ill.</p>

                    <p>The client shall ensure that all the passengers shall carry the necessary travel documents
                        (including but not limited to passports, VISAs, health, and other certificates) for departure
                        from the country of the origin, transit through any intermediate points, and entry into the
                        country of destination of the flight and Client shall indemnify you against any losses you may
                        suffer if any passenger fails to hold any necessary travel documents</p>

                    <p>Otherwise, the flight(s) are to be operated subject to an approved operator’s standard Terms and
                        Conditions currently in force, which please sign on my/our behalf, as my/our agent</p>


                    <p>The client shall hold BLUEDOT harmless and defend and indemnify BLUEDOT against any claim brought
                        against BLUEDOT by any third party caused by any act or omission on my/our part or that of any
                        of my/our passengers, associated parties, or subcontractors. BLUEDOT’s right to a defence is
                        separate and apart from its right to indemnity.Each provision of this booking form is severable
                        and distinct from the others and if any provision, or paragraph of one provision, is or at any
                        time becomes to any extent or in any circumstances invalid, illegal or unenforceable for any
                        reason, it shall to that extent or in those circumstances, be deemed not to form part of this
                        booking form but the validity, legality, and enforceability of that and all other provisions, or
                        other paragraphs of such provision, of this Agreement shall not be affected or impaired, it is
                        the parties intention that every provision of this booking form shall be and remain valid and
                        enforceable to the fullest extent permitted by law. </p>

                    <p>This Agreement and any disputes or claims arising out of or in connection with it or its subject
                        matter or formation (including non-contractual disputes or claims) shall be governed by and
                        interpreted in accordance with Dubai law and the parties hereby agree and submit to the
                        jurisdiction of the Dubai courts.</p>

                    <p>The client recognizes that BLUEDOT will receive personal data for the purposes of providing
                        services, facilitating immigration and entry procedures, and BLUEDOT will be required to make
                        available such data to the operator, government agencies, and other parties who require it in
                        connection with the services being provided by BLUEDOT. Personal data will be held securely in
                        accordance with the BLUEDOT privacy policy.</p>

                    <h3 class="pb-3">VID-19 Notice</h3>

                    <p>Due to the ongoing COVID-19 pandemic, circumstances that may have direct and/or indirect
                        implications on our flight operations have shown to change quickly and without official notice.
                        Restrictions and conditions imposed after the actual time of flight confirmation may lead to
                        alterations in flight schedule, cost, timings, and other operational parameters. Although we
                        will do our best not to reflect negative consequences to our valued customers, we keep our
                        rights reserved for additional costs, change of flight schedule, or cancellation of the
                        flight-all which will be made aware to our customer in full transparency. We thank you for your
                        understanding.</p>

                </div>


            </div>
        </div>
    </section>

{% endblock %}
