{% extends 'website/layout/base.html' %}
{% load static %}
{% block title %}Dr. Afsal | Medical Director | Bluedot{% endblock %}
{% block meta_description %}Medical team profile page for Dr. Afsal, Medical Director at Bluedot Air Ambulance.{% endblock %}
{% block content %}

<style>
        .leader-detail-sec {
            background-color: #f2f5f8;
            min-height: calc(100vh - 400px);
            display: flex;
            align-items: center;
            padding: 80px 0;
        }

        .leader-detail-card {
            text-align: center;
            width: 100%;
            padding-top: 120px;
        }

        .leader-detail-img {
            width: 250px;
            height: 300px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 30px;
            margin: auto;
        }

        .leader-detail-name {
            font-size: 45px;
            font-weight: 500;
            margin-bottom: 5px;
            color: #000;
            font-family: 'Aeonik';
            padding-top: 20px;
        }

        .leader-detail-title {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            margin-bottom: 40px;
        }

        .leader-detail-bio {
            max-width: 730px;
            margin: 0 auto;
            text-align: left;
            font-size: 18px;
            line-height: 1.2;
            color: #153c5e;
            font-weight: 400;
            font-family: 'Aeonik';

        }
    </style>
    <section class="leader-detail-sec">
        <div class="container">
            <div class="leader-detail-card">
                <img src="{% static 'website/images/leader3.png' %}" alt="Dr Afsal" class="leader-detail-img">
            <h1 class="leader-detail-name en-content">Dr. Mohammed Afsal</h1>
                <h1 class="leader-detail-name ar-content">دكتور محمد أفضل</h1>

                <h5 class="leader-detail-title en-content">Medical Director & Chief Flight Physician</h5>
                <h5 class="leader-detail-title ar-content">المدير الطبي ومدير أطباء الطيران</h5>

               <div class="leader-detail-bio en-content">
                    <p>A dedicated aeromedical specialist committed to advancing clinical excellence and patient safety
                        in critical care transport. Holding a Master's Degree in Emergency Medicine from George
                        Washington University and a Fellowship in Aeromedical Services from the United Kingdom, Dr.
                        Afsal has successfully overseen and personally conducted more than 550 interstate and
                        international patient transfer missions across North America, Europe, the Middle East, and
                        Southeast Asia. At Bluedot, he leads global medical operations and aeromedical governance,
                        strengthening clinical standards, flight medical training, and evidence-based retrieval
                        protocols that support the safe transport of critically ill patients worldwide.</p>
                </div>
                <div class="leader-detail-bio ar-content">
                    <p>أخصائي متميز في طب الطيران، يلتزم بتعزيز التميز السريري وسلامة المرضى في مجال نقل الحالات الحرجة.
                        الدكتور أفضل حاصل على درجة الماجستير في طب الطوارئ من جامعة جورج واشنطن وزمالة في الخدمات الطبية
                        الجوية من المملكة المتحدة، وقد أشرف بنجاح وقام شخصياً بإجراء أكثر من ٥٥٠ مهمة نقل مرضى بين
                        الولايات وعلى الصعيد الدولي شملت أمريكا الشمالية، وأوروبا، والشرق الأوسط، وجنوب شرق آسيا. ويتولى
                        في شركة "بلودوت" قيادة العمليات الطبية العالمية والحوكمة الطبية الجوية، مع تعزيز المعايير
                        السريرية، والتدريب الطبي على الطيران، وبروتوكولات الاسترداد الطبي القائمة على الأدلة التي تدعم
                        النقل الآمن للمرضى ذوي الحالات الحرجة في جميع أنحاء العالم.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
