{% extends 'website/layout/base.html' %}
{% load static %}
{% block title %}Rahul Pillai | Leadership | Bluedot{% endblock %}
{% block meta_description %}Meet Rahul Pillai, Business Head – Commercial Flights (GCC) at Bluedot.{% endblock %}
{% block content %}

<style>
        .leader-detail-sec {
            background-color: #f2f5f8;
            min-height: calc(100vh - 400px);
            display: flex;
            align-items: center;
            padding: 80px 0;
        }

        .leader-detail-card {
            text-align: center;
            width: 100%;
            padding-top: 120px;
        }

        .leader-detail-img {
            width: 250px;
            height: 300px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 30px;
            margin: auto;
        }

        .leader-detail-name {
            font-size: 45px;
            font-weight: 500;
            margin-bottom: 5px;
            color: #000;
            font-family: 'Aeonik';
            padding-top: 20px;
        }

        .leader-detail-title {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            margin-bottom: 40px;
        }

        .leader-detail-bio {
            max-width: 730px;
            margin: 0 auto;
            text-align: left;
            font-size: 18px;
            line-height: 1.2;
            color: #153c5e;
            font-weight: 400;
            font-family: 'Aeonik';

        }
    </style>
    <section class="leader-detail-sec">


        <div class="container">
<div class="hero-breadcrumb">
    <span class="en-content">
        <a href="{% url 'website:home' %}">Home</a>
        <span class="separator">/</span>
        <a href="#">Leadership</a>
        <span class="separator">/</span>
        <span class="active">Rahul Pillair</span>
    </span>
    <span class="ar-content">
        <a href="{% url 'website:home' %}">الرئيسية</a>
        <span class="separator">/</span>
        <a href="#">القيادة</a>
        <span class="separator">/</span>
        <span class="active">Rahul Pillair</span>
    </span>
</div>


            <div class="leader-detail-card">
                <img src="{% static 'website/images/leader6.png' %}" alt="Rahul pillair" class="leader-detail-img">
                <h1 class="leader-detail-name">
                    <span class="en-content">Rahul pillair</span>
                    <span class="ar-content">راهول بيلاي</span>
                </h1>

                <h5 class="leader-detail-title en-content">Business Head – Commercial Flights </h5>
                <h5 class="leader-detail-title ar-content"> رئيس قطاع الأعمال – الرحلات التجارية
                </h5>

                <div class="leader-detail-bio en-content">
                    <p>A healthcare business leader passionate about improving access to safe and cost-effective patient
                        transportation services. With over 13 years of experience in healthcare sales, patient
                        repatriation, home healthcare, and medical travel solutions, Rahul has built a strong track
                        record of developing strategic partnerships and expanding healthcare services across the GCC
                        region. At Bluedot, he leads the Commercial Flight Medical Transfer division, driving regional
                        growth and delivering coordinated patient transfer solutions across the UAE, Saudi Arabia, and
                        beyond.</p>
                </div>
                <div class="leader-detail-bio ar-content">
                    <p>مدير أعمال متميز في قطاع الرعاية الصحية، يمتلك شغفاً حقيقياً بتسهيل الوصول إلى خدمات نقل مرضى
                        آمنة وذات تكلفة اقتصادية. بفضل خبرته الممتدة لأكثر من 13 عاماً في مبيعات الرعاية الصحية، وإعادة
                        المرضى إلى أوطانهم (الإخلاء الطبي)، والرعاية الصحية المنزلية، وحلول السفر الطبي، نجح "راهول" في
                        بناء سجل حافل بالإنجازات في تطوير الشراكات الاستراتيجية وتوسيع نطاق الخدمات الصحية في منطقة دول
                        مجلس التعاون الخليجي. ويتولى حالياً في شركة "بلودوت" (Bluedot) قيادة قسم النقل الطبي عبر الرحلات
                        التجارية، لدفع عجلة النمو الإقليمي وتقديم حلول متكاملة ومنسقة لنقل المرضى في دولة الإمارات
                        العربية المتحدة، والمملكة العربية السعودية، وخارجها.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
